.table-container {
  overflow-x: auto;
  .table {
    width: 100%;
    border-collapse: collapse;
    .table-header {
      .header-cell {
        font-weight: bold;
        white-space: nowrap;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        cursor: pointer;
        padding-left: 5px;
      }
    }
    .table-row {
      border-radius: 5px;
      .table-cell {
        white-space: nowrap;
        text-align: left;
        padding: 0.5em;
        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      &:nth-child(even){
        background-color: #ECF1F6;
        
      }
      &:hover {
        background-color: #ddd;
      }
    }
  }
}