.form-group {
  .upload-doc-button {
    .file-input {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  .page-loader {
    height: auto;
  }
}