.custon-phone-input {
  .phone-input-label {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
  }
  .react-tel-input {
    height: 35px;
    .form-control {
      position: absolute;
      left: 0;
      border: 1px solid rgba(34,36,38,.15);
      width: 100%;
    }
  }
}