.table-order-details {
  .order-container {
    display: flex;
    margin-bottom: 0.5em;
    .order-content, .order-amount {
      color: $black-light;
      font-weight: 600;
      font-size: 1.15em;
    }
    .order-content {
      flex: 1;
    }
  }
  .filter-total-container {
    display: flex;
    margin: 0.5em 0;
    .content, .amount {
      font-size: 1.2em;
      font-weight: bold;
    }
    .content {
      flex: 1;
    }
  }
}