@font-face {
  font-family: 'smartorder';
  src:  url('fonts/smartorder.eot?hr4ts0');
  src:  url('fonts/smartorder.eot?hr4ts0#iefix') format('embedded-opentype'),
    url('fonts/smartorder.ttf?hr4ts0') format('truetype'),
    url('fonts/smartorder.woff?hr4ts0') format('woff'),
    url('fonts/smartorder.svg?hr4ts0#smartorder') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'smartorder' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Menu:before {
  content: "\e900";
  color: #e9f6ff;
}
.icon-Table:before {
  content: "\e901";
  color: #e9f6ff;
}
.icon-Activity:before {
  content: "\e902";
  color: #e9f6ff;
}
.icon-Customers:before {
  content: "\e903";
  color: #e9f6ff;
}
.icon-Dashboard:before {
  content: "\e904";
  color: #e9f6ff;
}
.icon-heart:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e906";
}
.icon-trash:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90a";
}
.icon-camera:before {
  content: "\e90b";
}
.icon-tag:before {
  content: "\e90c";
}
.icon-lock:before {
  content: "\e90d";
}
.icon-pen:before {
  content: "\e90e";
}
.icon-display:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e910";
}
.icon-eye:before {
  content: "\e911";
}
.icon-stack:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e913";
}
.icon-news:before {
  content: "\e914";
}
.icon-mail:before {
  content: "\e915";
}
.icon-photo:before {
  content: "\e916";
}
.icon-note:before {
  content: "\e917";
}
.icon-params:before {
  content: "\e918";
}
.icon-data:before {
  content: "\e919";
}
.icon-food:before {
  content: "\e91a";
}
.icon-clip:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-wallet:before {
  content: "\e91d";
}
.icon-world:before {
  content: "\e91e";
}
