@import './bootstrap';
@import '../components/components';
@import '../web/templates/index';
@import '../modules/auth/styles/index';
@import '../assets/icons/style.css';
@import '../modules/menu/styles/index';
@import '../modules/home/styles/index';
@import '../modules/tables/styles/index';

body {
  margin: 0;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-color;
}