.order-item {
  &:hover {
    position: relative;
    bottom: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 164, 183, 0.25);
    box-shadow: 0px 5px 7px rgba(144, 164, 183, 0.25);
    border-radius: 10px;
    z-index: 999;
  }
  transition: position 0.5s;
  cursor: pointer;
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0,.1);
  &:last-child {
    border-bottom: 0;
  }
  .title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .order-content {
    display: flex;
    .dishes {
      flex: 1;
    }
  }
}

.list-container {
  max-height: 30em;
  overflow-y: auto;
}

.order-modal {
  padding: 1em;
  .order-id {
    display: flex;
    align-items: baseline;
    .content {
      margin-left: 1em;
    }
  }
  .order-details {
    .order-table {
      .order-header, .order-row {
        display: flex;
        padding: 0.5em;
        &:nth-child(even){
          background-color: #ECF1F6;
        }
        .name {
          flex: 1;
        }
        .quantity {
          width: 20%;
        }
      }
      .order-header {
        .name, .quantity, .price {
          font-weight: bold;
          font-size: 1.25em;
          margin-bottom: 0.5em;
        }
      }
    }
  }
  .booking-details, .order-details {
    margin-top: 2em;
    .details-container {
      display: flex;
      align-items: baseline;
      margin-bottom: 0.5em;
      .title {
        flex: 1;
        font-weight: bold;
      }
      .value {
        font-weight: bold;
      }
    }
  }
}