@import './authSidebarTemplate/authSidebarTemplate';

.ui.top.fixed.menu.guest-menu-nvabar {
  background-color: white !important;
  margin-bottom: 1em;
  .app-title {
    font-weight: bold;
    padding-left: 1em;
    color: black;
  }
}